*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul,ol{
    list-style: none;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    min-width: 1450px;
}
#top{
    width: 1350px;
    margin: 30px auto;
}
#top h1{
    float: left;
    transform: translate(180%, 0);
}
#top ul{
    float: right;
}
#top ul li{
    float: left;
    padding: 0 5px;
}
#top ul li a:hover{
color: white;
background: black;
padding: 10px;
}
#header{
    width: 1350px;
    height: 124px;
    margin: auto;
    clear: both;
}
#header ul li{
    float: left;
    padding:  50px 99px 0;
}
#header ul li a{
    font-weight: bold;
    font-size: 20px;
    display: block;
}
#header li a:hover{color:#f16136;}
.solid{width:100%;
		margin:auto;
		margin-top:20px;
		height:5px;
		background:#f16136;
		visibility:hidden;
		opacity:0;
		transform:scaleX(0);
		transition-property:opacity, transform;
		transition-duration:0.5s;}
#header li a:hover .solid{transform:scaleX(1);
						opacity:1;
						visibility:visible;}


#footer{
    clear: both;
    background: #333;
    height: 200px;
    color: white;
    line-height: 30px;
}
#footer_inner{
    width: 1350px;
    margin: auto;
    padding-top: 30px;

}
#footer h1{
    float: left;
    padding-right: 100px;
}
#footer #box{
    float: left;
}
#footer ul li{
    float:left;
    padding: 0 10px;
}
#footer ul li a{
    color: white;
}
#footer p{
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
}
/*ν—¤λ”, ν‘Έν„°*/
 
#service{
   
   
    margin-bottom: 300px;
}
#service_inner{
    margin: auto;
    
}
#service img{
    width: 100%;
}
#big{
    width: 1350px;
    margin: auto;
    height: 465px;
    margin-bottom: 300px;
}
#big ul li{
    float: left;
    padding: 0 19px;
}
#store{
    background: #e79f56;
   height: 1340px;
   margin-bottom: 100px;
}
#store_inner{
width: 1350px;
margin: auto;
}
#store_inner img{
    padding: 100px 0 50px 0px;
}
#store_inner .title{
    width: 655px;
    padding-left: 250px;
    
}
#store ul{
    float: right;
    padding: 0 100px;
}
#store ul li{
    float: left;
    padding: 0 50px;
    font-size: 20px;
    }
#store .wh{
    color: white;
    padding-top: 20px;
} 
#store .bl{
    color: black;
    background: white;
    padding: 20px;
    display: block;
  
    text-align: center;
    font-weight: bold;
} 
  #map{
     
      width: 620px;
      margin: auto;
      font-size: 20px;
      
  }
  #map .text{
      padding-top: 30px;
      padding-left: 20px;
  }
  #map .bus li{
      float: left;
     height: 100px;
     
  }
  #map .subway li{
      float: left;
     height: 100px;
  }
  #icon{
     padding: 50px 0;
      clear: both;
      margin-bottom: 100px; 
  }
  #icon_inner{
width: 500px;
      margin: auto;
  }
  #icon ul li{
      float: left;
      padding: 0 5px;
  }